@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

$main-font: 'Open Sans', sans-serif;
body{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.intro{
    background-size: cover;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    background: linear-gradient(20deg, #E958A2 0%, #A028A9 50%);
    .main-content{

        h1{
            margin: 0px;
            font-family: $main-font;
            font-size: 86px;
            color: #fff;
        }
        h2{
            margin: 0px;
            font-family: $main-font;
            font-size: 49px;
            color: #650061;
        }
        p{
            margin-top: 100px;
            margin-bottom: 10px;
            font-family: $main-font;
            font-size: 24px;
            color: #650061;
        }
        button{
            font-family: $main-font;
            font-size: 49px;
            background-color: #fff;
            color: #650061;
            border-radius: 41px;
            padding: 10px;
            margin: 5px;
            width: 405px;
            height: 81;
            display: block;
        }
        img{
            position: relative;
            float: right;
        }
        .buttons{
            margin-top: 100px;
            margin-bottom: 100px;
        }
    }
}