@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

$main-font: 'Open Sans', sans-serif;
:root{
    --main-color: #E958A2;
    --second-color: #866f88;
}
body{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.intro{
    background-size: cover;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    background: linear-gradient(20deg, var(--main-color) 0%, var(--second-color) 50%);
    .main-content{
        .color-pickers{
            align-content: center;
            align-self: center;
            display: inline-flex;
            position: relative;
            align-items: center;
            background-color: white;
            background-size: cover;
            border-radius: 100px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            .color-box-main{
                margin-right: 50px;
                width: 30px;
                height: 30px;
                background-color: var(--main-color);
            }
            .color-box-sec{
                margin-right: 50px;
                width: 30px;
                height: 30px;
                background-color: var(--second-color);
            }
            input[type='color']{
                width : 100px;
                height: 40px;
                padding: 5px;
                margin-right: 20px;
            }
        }
        h1{
            margin: 0px;
            font-family: $main-font;
            font-size: 86px;
            color: #fff;
        }
        h2{
            margin: 0px;
            font-family: $main-font;
            font-size: 49px;
            color: #650061;
        }
        p{
            margin-top: 100px;
            margin-bottom: 10px;
            font-family: $main-font;
            font-size: 24px;
            color: #650061;
        }
        button{
            font-family: $main-font;
            font-size: 49px;
            background-color: #fff;
            color: #650061;
            border-radius: 41px;
            padding: 10px;
            margin: 5px;
            width: 405px;
            height: 81;
            display: block;
        }
        img{
            position: relative;
            float: right;
        }
        .buttons{
            margin-top: 100px;
            margin-bottom: 100px;
        }
    }
}